.DS_Store
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.tgz
/.nyc_output/

# rspec failure tracking
.rspec_status

node_modules
# package-lock.json
cypress/videos/
yarn.lock
cypress/fixtures/example.json
