.chart {
  height: 300px;
  width: 100%;
  text-align: center;
  color: #999;
  line-height: 300px;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica,
    sans-serif;
}
