.hovercard {
  max-width: 205px;
  z-index: $z-index-hovercard;
  overflow: visible;

  .card-content {
    padding: $size-7;
  }

  svg {
    position: absolute;
    bottom: -8px;
    left: calc(50% - 10px);
  }

  p,
  strong {
    font-size: $size-7;
    display: block;
  }
}

.hovercard-testing {
  .back-home,
  .title,
  .subtitle {
    display: none;
  }

  .section {
    padding: 0;
  }

  hr {
    display: none;
  }

  .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 100%;
  }

  .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 100%;
  }

  .container:not(.is-max-desktop) {
    max-width: 100%;
  }

  .container {
    max-width: 100%;
  }

  .content p:not(:last-child),
  .content dl:not(:last-child),
  .content ol:not(:last-child),
  .content ul:not(:last-child),
  .content blockquote:not(:last-child),
  .content pre:not(:last-child),
  .content table:not(:last-child) {
    margin-bottom: 0;
  }
}
