$narrow-size: 25rem;
$medium-size: 40rem;
$wide-size: 50rem;
$extra-wide-size: 70rem;

.modal {
  .box.is-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;

    .loader {
      @include loader;
    }
  }
}

.modal-content {  
  @include tablet {
     &.narrow { width: $narrow-size;}
     &.medium { width: $medium-size;}
     &.wide { width: $wide-size;}
     &.extra-wide { width: $extra-wide-size;}
  }
}

@include tablet {
  .modal.drawer {
    display: block;
    opacity: 0;
    pointer-events: none;
    z-index: $z-index-drawer;

    .modal-close {
      display: none;
    }

    &.is-active {
      opacity: 1;
      pointer-events: auto;

      .modal-content {
        transform: none;
      }
    }

    .modal-content {
      position: absolute;
      top: 0;
      right: 0px;
      opacity: 1;

      width: $medium-size;
      height: 100%;
      max-height: 100%;

      transform: translateX(100%);
      transition: all 0.2s ease-in-out;
      margin: 0;

      border-radius: 0px;
      box-shadow: 0px 0px 18px 18px rgba($black, 0.2);
    }

    .modal-background {
      background-color: rgba($black, 0.1);
    }
  }
}
