// z-index
$z-index-menu-overlay: 4;
$z-index-side-menu: 5;
$z-index-choices-list-dropdown: 5;
$z-index-autocomplete-input-results: 10;
$z-index-notification: 10;
$z-index-drawer: 39;
$z-index-modal: 40;
$z-index-hovercard: 100;